head
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(type='text/javascript', src='/javascripts/index.js')
  link(rel='stylesheet', href='/stylesheets/index.css')

body.background
  block content
    h1.header Geofika
    div(id="mapContainer")
      img(class="mapImage" id="NoTeamMap" src="/images/No_Team.png" hidden=false)
      img(class="mapImage" id="BlueTeamMap" src="/images/Blue_Team.png" hidden=true)
    div(id="highscoreContainer")
      ul.highscoreList(id=highscoreList)
        li
          p.playerEntry(id="playerA") playerA: #{playerPoint}
        li
          p.playerEntry(id="playerB") playerB: #{playerPoint}
        li
          p.playerEntry(id="playerC") playerC: #{playerPoint}
        li
          p.playerEntry(id="playerD") playerD: #{playerPoint}
        li
          p.playerEntry(id="playerE") playerE: #{playerPoint}
        li
          p.playerEntry(id="playerF") playerF: #{playerPoint}
        li
          p.playerEntry(id="playerG") playerG: #{playerPoint}
        li
          p.playerEntry(id="playerH") playerH: #{playerPoint}
        li
          p.playerEntry(id="playerI") playerI: #{playerPoint}
        li
          p.playerEntry(id="playerJ") playerJ: #{playerPoint}
      button(onclick="buttonPress()") Test
