head
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(type='text/javascript', src='/javascripts/index.js')

block content
  h1= title
  p Highscore
  ul(id=highscoreList)
    li
      p.playerEntry(id="playerA") playerA: #{playerPoint}
      p.playerEntry(id="playerB") playerB: #{playerPoint}
      p.playerEntry(id="playerC") playerC: #{playerPoint}
      p.playerEntry(id="playerD") playerD: #{playerPoint}
      p.playerEntry(id="playerE") playerE: #{playerPoint}
      p.playerEntry(id="playerF") playerF: #{playerPoint}
      p.playerEntry(id="playerG") playerG: #{playerPoint}
      p.playerEntry(id="playerH") playerH: #{playerPoint}
      p.playerEntry(id="playerI") playerI: #{playerPoint}
      p.playerEntry(id="playerJ") playerJ: #{playerPoint}

  button(onclick="buttonPress()") Test
